<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Main Page</h1>
    <form method="GET" action="/">

    </form>
    <h2>New Post</h2>
    <a href = "/users/edit_profile">Edit Profile</a>
    <form method="POST" action="/posts/new_post" enctype="multipart/form-data">
        {% csrf_token %}
        {{new_post_form}}
        <button>Submit</button>
    </form>
    <li class = "post_list">
        {% for post in posts %}
        <div class = "post">
            <img id="pfp" src= "{{post.author.profilepic.image.url}}">
            <img src="{{post.image.url}}">
            <p>{{post.text}}</p>
            <p>{{post.author}}</p>
            <p>{{post.created_at}}</p>
            {% with comments=comment_dict|get_value:post.positID %}
                {% if comments %}
                    {% for comment in comments %}
                        <p>{{ comment }}</p>
                    {% endfor %}
                {% else %}
                    <p>No comments for this post</p>
                {% endif %}
            {% endwith %}
            <form action="/comments/new_comment" method="POST">
                {% csrf_token %}
                {{ form }}
                <button>Submit</button>
            </form>
        </div>
        {% empty %}
            <p>No Posts</p>
        {% endfor %}
    </li>
</body>
</html>