<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main_page.css' %}">
    <div class="search_profiles">
        <h1>Search Profiles</h1>
        <form method="GET" action="/users/search_profile/">
            {% csrf_token %}
            <input class="form-group" type="text" name="username">
            <button class="btn btn-primary">Search</button>
            <a class="form-group edit_profile" href = "/users/edit_profile">Edit Profile</a>
        </form>
    </div>
    <h1>New Post</h1>
    <form action="/posts/receive_post" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{new_post}}
        <button>Post</button>
    </form>

    <div class="Post-list-container">
        <h1>Posts</h1>
            {% load filters %}
            {% for post, form in posts_and_comment_form %}
                <div class="Post">
                    <div class="Post-header">
                        <img id="pfp" src="{{post.author.profilepic.image.url}}">
                        <p class="author-name">{{ post.author }}</p>
                        <p>{{ post.created_at }}</p>
                    </div>
                    <div class="Post-image">
                        <img src="{{ post.image.url }}">
                    </div>
                    <div class="Post-content">
                        <p>{{ post.text }}</p>
                    </div>
                    <div class="Post-comments">
                        <div class="comments">
                            {% with comments=comment_dict|get_value:post.id %}
                                {% if comments %}
                                    {% for comment in comments %}
                                        <div class="Comment-div">
                                            <img if="Commenter-pfp" src="{{comment.author.profilepic.image.url}}">
                                            <p>{{ comment.author.username }}:</p>
                                            <p>{{ comment.text }}</p>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No comments for this post</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="Comment-form">
                            <form action="/comments/new_comment" method="POST">
                                {% csrf_token %}
                                {{ form }}
                                <button>Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No Posts</p>
            {% endfor %}
    </div>
    {% endblock %}
</body>
</html>