<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main_page.css' %}">
    <div class = "post_container">
        <h1>Search For Friends</h1>
        <form method="GET" action="/users/search_profile/">
            {% csrf_token %}
            <input type="text" name="username">
            <button>Submit</button>
        </form>
        <a href = "/users/edit_profile">Edit Profile</a>
        <h1>New Post</h1>
        <form action="/posts/receive_post" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{new_post}}
            <button>Submit</button>
        </form>
        <h1>Post List</h1>
        <li class = "post_list">
            {% load filters %}
            {% for post, form in posts_and_comment_form %}
                <div class="post">
                    <img src="{{ post.image.url }}">
                    <img id="pfp" src= "{{post.author.profilepic.image.url}}">
                    <p>{{ post.text }}</p>
                    <p>{{ post.author }}</p>
                    <p>{{ post.created_at }}</p>
                    {% with comments=comment_dict|get_value:post.id %}
                        {% if comments %}
                            {% for comment in comments %}
                                <p>{{ comment }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No comments for this post</p>
                        {% endif %}
                    {% endwith %}
                    <form action="/comments/new_comment" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button>Submit</button>
                    </form>
                </div>
            {% empty %}
            <p>No Posts</p>
            {% endfor %}
        </li>
    </div>
    {% endblock %}
</body>
</html>