<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
</head>
<body>
    {% load filters %}
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <form method="POST" class="container-fluid my-container">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="form-group">
            {{ login_form.username.label }}
            {{ login_form.username }}
        </div>
        <div class="form-group">
            {{ login_form.password.label }}
            {{ login_form.password }}
        </div>
        <div class="btn-container">
            <button class="btn btn-primary">Submit</button>
            <a class="btn btn-primary">Forgot Password</a>
        </div>
    </form>
    {% endblock %}
</body>
</html>